body {
    font-family: Arial, sans-serif;
}

#paper-tracker {
    width: 300px;
    margin: 0 auto;
}

#papers-list {
    list-style-type: none;
    padding: 0;
}

#papers-list li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
}
